

a {
  text-decoration: none;
  color: #FFFFFF;
}


/* -----NAVIGATION SECTION -----*/

#nav-section {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  opacity:0.95;
  position: fixed;
  top: 0;
  width: 100%; 
  height:130px;
  z-index: 99;
}

#logo {
  flex: 1;
}

#logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  margin-left:70px;
}


#navbar-links {
  flex: 3;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 50%;
}

#navbar-links > ul > li > a {
  font-family: raleway;
  color: #333333;
  letter-spacing: .058;
  font-style: regular;
  font-size: 24px;
}

#navbar-links > ul > li > a:hover {
  color: #1F9ACE;
}

#navbar-links ul > li {
  display: inline-block;
  padding-left: 20px;
}



@media only screen and (min-width : 1221px){
  #navbar-links {
    padding-left: 40%;
  }
}

@media only screen and (max-width: 1221px) and (min-width: 281px) {
  #navbar-links {
    padding-left: 30%;
  }
}










/* ----- END NAVIGATION SECTION -----*/


/* ------------------About Me-----------------*/

h1 {
  font-family: raleway;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.78px;
}

/*#about-head  {
  font-family: raleway;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.78px;
  margin-top: 130px;
  width: 100%;
  background-color: #EDF0F0;
  text-align: center;
  height: 300px; 
}

#about-head h1 {
  margin: 0px;
}
*/
#about-me-section {
  /*width: 80%;
  margin-left: 10%;
  margin-right: 10%;*/
  background-color: #337ab7;
/*background-image: linear-gradient(-180deg, #62B2DC 0%, #337AB7 100%);
background-image: -webkit-linear-gradient(#62B2DC 0%, #337AB7 100%);
background-image: -o-linear-gradient(#62B2DC 0%, #337AB7 100%);
background-image: linear-gradient(#62B2DC 0%, #337AB7 100%);*/
  margin-top: 130px;
  /*height: 3565px;*/
}

#everydesign {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}

#yourstory {
  width: 50%;
  display: block;
  /*margin: 0 auto;*/
  padding-top: 35px;
  padding-left: 10%;
}


/*#about-head {
  width: 100%;
  background-color: #EDF0F0;
  text-align: center;
  height: 450px; 
}*/

/*#storybook {
  height: 200px;
  width: 220px;
}*/

#left-text {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-left: 20%;
  /*padding-top: 2%;*/
}

#right-text {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-right: 20%;
  /*padding-top: 10%;*/
}

#about-shell-odd {
  display: flex;
  /*padding-top: 30px;*/
}

#about-left {
  flex:1;
}

#about-right {
  flex:1;
}


#about-shell-even {
  display: flex;
  /*padding-top: 65px;*/
}

#last-paragraph {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-right: 20%;
  /*padding-top: 30%;*/
}

#mid-head {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

#photo-group1 {
  width: 70%;
  padding-left: 10%;
  padding-top: 35%;
}

#photo-group2 {
  width: 75%;
  padding-left: 15%;
  padding-top: 20%;
}

#photo-group3 {
  width: 75%;
  padding-left: 15%;
  padding-top: 20%;
}

#photo-group4 {
  width: 75%;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 20%;
}

#sign {
  padding-bottom: 15%;
}





/*-------------LETS TALK ---------*/

#talk {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 650px; 
  background-color: #EDF0F0;
  
}


#pitch {
  flex: 1;
  text-align: center;
  padding-top: 20px; 
}

#pitch p {
  font-family: raleway;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
}


#contact-form {
  flex: 2;  
}

/*---------------CONTACT FORM ------------*/
#contact {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {

    width: 350px;
    display: block;
    padding: 15px;
    padding-left: 10px;
    padding-right: 70px;
    margin: auto;
    margin-top: 5px;
    color: black;
}

textarea {
    width: 350px;
    display: block;
    padding: 50px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    
}


button {
    display: block;
    font-family: cabin;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 40px;
    margin: auto;
    color: #fff;
    background-color: #ec1c2e;
    width: 250px;
   
}



/*----------------Footer section -------------------*/

#footer-section {
  display: flex;
  background-color: #848484;
  background-color: #4d4d4d;
  height: 200px;
}
#footer-empty1 {
  flex:1;
}
#footer-nav {
  flex:1;
  display: flex;
  flex-direction: column;
}
#footer-empty2 {
  flex: 1;
}

#footer-links {
  flex: 1;
  padding-top: 30px;
  text-align: center;
}

#footer-icons {
  flex: 1;
  margin: 0;
  text-align: center;
}



#copyright {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}

#copyright p {
  font-family: cabin;
  color: #AEB3B3;
  font-size: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer-links > ul > li > a {
  font-family: raleway;
  color: #FFFFFF;
  letter-spacing: .058;
  font-style: regular;
  font-size: 15px;
  text-align: center;
}

#footer-links > ul > li > a:hover {
  color: #333333;
}

#footer-nav ul > li {
  display: inline-block;
  padding-left: 10px;
 
}

#footer-icons>ul {
  margin: 0;
}

#footer-icons ul>li {
  display: inline-block;
}

.fa {
  color:#FFFFFF;
  font-size: 36px;
  padding-left: 2px;
  padding-right: 2px;
}

.fa:hover {
  color: #333333;
}






























