a {
  text-decoration: none;
  color: #FFFFFF;
}



/* -----------Navigation Bar -------------*/
#nav-section {
  display: flex;
  overflow: hidden;
  background-color: #fFFFFF;
  opacity:0.85;
  position: fixed;
  top: 0;
  width: 100%; 
  height:130px;
}

#logo {
  flex: 1;
}

#logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  margin-left:70px;
}

#empty {
  flex: .5;
}

#navbar-links {
  flex: 1;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 60px
  ;
}

#navbar-links > ul > li > a {
  font-family: raleway;
  color: #333333;
  letter-spacing: .058;
  font-style: regular;
  font-size: 20px;
}

#navbar-links > ul > li > a:hover {
  color: #1F9ACE;
}

#navbar-links ul > li {
  display: inline-block;
  padding-left: 20px;

}


/* ------------------About Me-----------------*/

h1 {
  font-family: raleway;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.78px;
}

#text p {
  font-family: raleway;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.58px;
  line-height: 30px;
}

#about-me-section {
  display: flex;
  margin-top: 130px;
  height: 675px;
  
}

#leigh-image {
  flex: 1;
  margin-top: 120px;
}

#about-me {
  flex: 2;
  padding-left: 50px;

}

#leighpic {
  padding-left: 42%;
  padding-top: 25px;
}

#text {
  width: 520px;
}


/*-------------LETS TALK ---------*/

#talk {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  height: 550px; 
  background-color: #F2F5F5;
  
}


#pitch {
  flex: 1;
  text-align: center;
  padding-top: 20px; 
}

#pitch p {
  font-family: raleway;
  font-weight: 300;
  font-size: 20px;
}


#contact-form {
  flex: 2;  
}

/*---------------CONTACT FORM ------------*/
#contact {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {

    width: 350px;
    display: block;
    padding: 15px;
    padding-left: 10px;
    padding-right: 70px;
    margin: auto;
    margin-top: 5px;
    color: black;
}

textarea {
    width: 350px;
    display: block;
    padding: 50px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    
}


button {
    display: block;
    font-family: cabin;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 40px;
    margin: auto;
    color: #fff;
    background-color: #ec1c2e;
    width: 250px;
   
}



/*----------------Footer section -------------------*/

#footer-section {
  display: flex;
  background-color: #7d8080;
  height: 200px;
}
#footer-empty1 {
  flex:1;
}
#footer-nav {
  flex:1;
  display: flex;
  flex-direction: column;
}
#footer-empty2 {
  flex: 1;
}

#footer-links {
  flex: 1;
  padding-top: 30px;
  text-align: center;
}

#footer-icons {
  flex: 1;
  margin: 0;
  text-align: center;
}

#copyright {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}

#copyright p {
  font-family: cabin;
  color: #F2F5F5;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer-links > ul > li > a {
  font-family: raleway;
  color: #FFFFFF;
  letter-spacing: .058;
  font-style: regular;
  font-size: 18px;
  text-align: center;
}

#footer-links > ul > li > a:hover {
  color: #333333;
}

#footer-nav ul > li {
  display: inline-block;
  padding-left: 10px;
 
}

#footer-icons>ul {
  margin: 0;
}

#footer-icons ul>li {
  display: inline-block;
}

.fa {
  color:#FFFFFF;
  font-size: 36px;
  padding-left: 2px;
  padding-right: 2px;
}

.fa:hover {
  color: #333333;
}






























