

a {
  text-decoration: none;
  color: #FFFFFF;
}


/* -----NAVIGATION SECTION -----*/

#nav-section {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  opacity:0.95;
  position: fixed;
  top: 0;
  width: 100%; 
  height:130px;
  z-index: 99;
}

#logo {
  flex: 1;
}

#logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  margin-left:70px;
}


#navbar-links {
  flex: 3;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 50%;
}

#navbar-links > ul > li > a {
  font-family: raleway;
  color: #333333;
  letter-spacing: .058;
  font-style: regular;
  font-size: 24px;
}

#navbar-links > ul > li > a:hover {
  color: #337AB7;
}

#navbar-links ul > li {
  display: inline-block;
  padding-left: 20px;
}

/* ----- END NAVIGATION SECTION -----*/


/* ------------------About Me-----------------*/

h1 {
  font-family: raleway;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.78px;
}

/*#about-head  {
  font-family: raleway;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.78px;
  margin-top: 130px;
  width: 100%;
  background-color: #EDF0F0;
  text-align: center;
  height: 300px; 
}

#about-head h1 {
  margin: 0px;
}
*/
#about-me-section {
  /*width: 80%;
  margin-left: 10%;
  margin-right: 10%;*/
  background-color: #337ab7;
/*background-image: linear-gradient(-180deg, #62B2DC 0%, #337AB7 100%);
background-image: -webkit-linear-gradient(#62B2DC 0%, #337AB7 100%);
background-image: -o-linear-gradient(#62B2DC 0%, #337AB7 100%);
background-image: linear-gradient(#62B2DC 0%, #337AB7 100%);*/
  margin-top: 130px;
  /*height: 3565px;*/
}

#everydesign {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 65px;
}

#yourstory {
  width: 50%;
  display: block;
  /*margin: 0 auto;*/
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}


/*#about-head {
  width: 100%;
  background-color: #EDF0F0;
  text-align: center;
  height: 450px; 
}*/

/*#storybook {
  height: 200px;
  width: 220px;
}*/

#left-text {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-left: 20%;
  /*padding-top: 2%;*/
}

#right-text {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-right: 20%;
  /*padding-top: 10%;*/
}

#about-shell-odd {
  display: flex;
  /*padding-top: 30px;*/
}

#about-left {
  flex:1;
}

#about-right {
  flex:1;
}


#about-shell-even {
  display: flex;
  /*padding-top: 65px;*/
}

#last-paragraph {
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.58px;
  line-height: 29px;
  padding-right: 20%;
  /*padding-top: 30%;*/
}

#mid-head {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

#photo-group1 {
  width: 70%;
  padding-left: 10%;
  padding-top: 35%;
}

#photo-group2 {
  width: 70%;
  padding-left: 15%;
  padding-top: 20%;
}

#photo-group3 {
  width: 75%;
  padding-left: 15%;
  padding-top: 20%;
}

#photo-group4 {
  width: 75%;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 20%;
}

#sign {
  padding-bottom: 15%;
}





/*-------------LETS TALK ---------*/

#talk {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 650px; 
  background-color: #EDF0F0;
  
}


#pitch {
  flex: 1;
  text-align: center;
  padding-top: 20px; 
}

#pitch p {
  font-family: raleway;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
}


#contact-form {
  flex: 2;  
}

/*---------------CONTACT FORM ------------*/
#contact {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {

    width: 350px;
    display: block;
    padding: 15px;
    padding-left: 10px;
    padding-right: 70px;
    margin: auto;
    margin-top: 5px;
    color: black;
    font-family: raleway;
}

textarea {
    width: 350px;
    display: block;
    padding: 50px;
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: raleway;
    
}

a[href^="mailto:"]
{ 
  font-family: raleway;
  color: #337ab7;
  font-size: 20px;
}


button {
    display: block;
    font-family: cabin;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 40px;
    margin: auto;
    color: #fff;
    background-color: #ec1c2e;
    width: 250px;
   
}



/*----------------Footer section -------------------*/

#footer-section {
  display: flex;
  /*background-color: #4d4d4d;*/
  background-image: linear-gradient(-180deg, #337AB7 9%, #087FA6 100%);
  height: 200px;
}
/*#footer-empty1 {
  flex:1;
}*/
#footer-nav {
  flex:1;
  display: flex;
  flex-direction: column;
}
/*#footer-empty2 {
  flex: 1;
}*/

#footer-links {
  flex: 1;
  padding-top: 10px;
  text-align: center;
}

#footer-icons {
  flex: 1;
  margin: 0;
  text-align: center;
}

#copyright {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}

#copyright p {
  font-family: cabin;
  color: #AEB3B3;
  font-size: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer-links > ul > li > a {
  font-family: raleway;
  color: #FFFFFF;
  letter-spacing: .058;
  font-style: regular;
  font-size: 15px;
  text-align: center;
}

#footer-links > ul > li > a:hover {
  color: #333333;
}

#footer-nav ul > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
 
}

#footer-icons>ul {
  margin: 0;
  padding: 0;
}

#footer-icons ul>li {
  display: inline-block;
}

.svg-inline--fa {
  color:#FFFFFF;
  font-size: 36px;
  padding-left: 2px;
  padding-right: 2px;
}

.svg-inline--fa:hover {
  color: #333333;
}


/* ----- MEDIA QUERIES -----*/


@media only screen and (max-width: 450px) {

  #nav-section {
    height: 100px;
    background-color: red;
  }

  #navbar-links {
    padding-left: 20%;
    flex:4;
    padding-right: 0%;
  }

  #navbar-links ul {
    margin: 0;
  }

  #navbar-links > ul > li > a {
    font-size: 15px;
  }

  #navbar-links ul>li {
    padding-left: 0px;
    padding-right: 2%;
  }

  #logo img {
    width:55px;
    height: 55px;
    margin-top: 25%;
    margin-left: 20%;
  }

  #about-me-section {
    margin-top: 100px;
  }


  #about-shell-odd {
    flex-direction: column;
  }
  
  #everydesign {
    width: 60%;
    padding-top: 5%;
  }

  #left-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group1 {
    padding-top: 0%;
    padding-left: 15%;
  }

  #about-shell-even {
    flex-direction: column-reverse;
  }
    
  #right-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group2 {
    padding-top: 0%;
  }

  #yourstory {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-left: 0%;
    padding-bottom: 0%;
  }

  #photo-group3 {
    padding-top: 0%;
    padding-left: 0%;
    display: block;
    margin: 0 auto;
  }

  #last-paragraph {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #sign {
    width: 25%;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  #talk {
    padding-top: 18%;

  }

  #photo-group4 {
    display: none;
  }

  #pitch h1 {
    margin: 0;
    font-size: 36px;
  }

  #pitch p {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    margin:2%;
  }

  button {
    width: 150px;
    margin-top: 5%;
  }

  #footer-section {
    height: 150px;
  }

  #footer-nav {
    flex: 6;

  }
  
  #footer-links {
    padding-top: 0%;

  }
  #footer-links ul  {
    padding: 0;
  }

  #footer-empty1 {
    flex:0;
  }

  #footer-empty2 {
    flex:0;
  }
  
  #footer-links > ul > li > a {
    font-size: 12px;
  }

  #footer-nav ul {
    padding: 0;
  }

  #copyright {
    padding-left: 0;
    padding-bottom: 5%;
  }

  #copyright p {
    margin: 0;
    padding-bottom: 5px;
  }

.fa {
  font-size: 24px;
}
}

@media (min-width: 451px) and (max-width: 550px) {

   #nav-section {
    height: 100px;
    /*background-color: yellow;*/
  }

  #about-me-section {
    margin-top: 100px;
  }


  #navbar-links {
    padding-left: 25%;
    flex:4;
    /*padding-right: 13%;*/
  }

  #navbar-links ul {
    margin: 0;
  }

  #about-shell-odd {
    flex-direction: column;
  }

  #logo img {
    width:55px;
    height: 55px;
    margin-top: 25%;
    margin-left: 20%;
  }

  #navbar-links > ul > li > a {
    font-size: 15px;
  }

  #navbar-links ul>li {
    padding-left: 0px;
    padding-right: 2%;
  }

  #everydesign {
    width: 60%;
    padding-top: 5%;
  }

  #left-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group1 {
    padding-top: 0%;
    padding-left: 15%;
  }

  #about-shell-even {
    flex-direction: column-reverse;
  }
    
  #right-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group2 {
    padding-top: 0%;
  }

  #yourstory {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-left: 0%;
    padding-bottom: 0%;
  }

  #photo-group3 {
    padding-top: 0%;
    padding-left: 0%;
    display: block;
    margin: 0 auto;
  }

  #last-paragraph {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #sign {
    width: 25%;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  #talk {
    padding-top: 18%;

  }

  #photo-group4 {
    display: none;
  }

  #pitch h1 {
    margin: 0;
    font-size: 36px;
  }

  #pitch p {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    margin:2%;
  }

  button {
    width: 150px;
    margin-top: 5%;
  }

  #footer-section {
    height: 125px;
  }

  #footer-nav {
    flex: 6;

  }
  
  #footer-links {
    padding-top: 0%;

  }
  #footer-links ul  {
    padding: 0;
  }

  #footer-empty1 {
    flex:0;
  }

  #footer-empty2 {
    flex:0;
  }
  
  #footer-links > ul > li > a {
    font-size: 12px;
  }

  #footer-nav ul {
    padding: 0;
  }

  #copyright {
    padding-left: 0;
    padding-bottom: 5%;
  }

  #copyright p {
    margin: 0;
    padding-bottom: 5px;
  }

.fa {
  font-size: 24px;
}
}


@media (min-width: 551px) and (max-width: 650px) {

   #nav-section {
    height: 100px;
    /*background-color: green;*/
  }

  #about-me-section {
    margin-top: 100px;
  }


  #navbar-links {
    padding-left: 30%;
    flex:4;
  }

  #navbar-links ul {
    margin: 0;
  }

  #about-shell-odd {
    flex-direction: column;
  }

  #logo img {
    width:55px;
    height: 55px;
    margin-top: 25%;
    margin-left: 20%;
  }

  #navbar-links > ul > li > a {
    font-size: 15px;
  }

  #navbar-links ul>li {
    padding-left: 0px;
    padding-right: 2%;
  }

  #everydesign {
    width: 60%;
    padding-top: 5%;
  }

  #left-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group1 {
    padding-top: 0%;
    padding-left: 15%;
  }

  #about-shell-even {
    flex-direction: column-reverse;
  }
    
  #right-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group2 {
    padding-top: 0%;
  }

  #yourstory {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-left: 0%;
    padding-bottom: 0%;
  }

  #photo-group3 {
    padding-top: 0%;
    padding-left: 0%;
    display: block;
    margin: 0 auto;
  }

  #last-paragraph {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #sign {
    width: 25%;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  #talk {
    padding-top: 18%;

  }

  #photo-group4 {
    display: none;
  }

  #pitch h1 {
    margin: 0;
    font-size: 36px;
  }

  #pitch p {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    margin:2%;
  }

  button {
    width: 150px;
    margin-top: 5%;
  }

  #footer-section {
    height: 125px;
  }

  #footer-nav {
    flex: 6;

  }
  
  #footer-links {
    padding-top: 0%;

  }
  #footer-links ul  {
    padding: 0;
  }

  #footer-empty1 {
    flex:0;
  }

  #footer-empty2 {
    flex:0;
  }
  
  #footer-links > ul > li > a {
    font-size: 12px;
  }

  #footer-nav ul {
    padding: 0;
  }

  #copyright {
    padding-left: 0;
    padding-bottom: 5%;
  }

  #copyright p {
    margin: 0;
    padding-bottom: 5px;
  }

.fa {
  font-size: 24px;
}
}

@media (min-width: 651px) and (max-width: 750px) {

   #nav-section {
    height: 100px;
    /*background-color: purple;*/
  }

  #about-me-section {
    margin-top: 100px;
  }


  #navbar-links {
    padding-left: 35%;
    flex:4;
  }

  #navbar-links ul {
    margin: 0;
  }

  #about-shell-odd {
    flex-direction: column;
  }

  #logo img {
    width:55px;
    height: 55px;
    margin-top: 25%;
    margin-left: 20%;
  }

  #navbar-links > ul > li > a {
    font-size: 15px;
  }

  #navbar-links ul>li {
    padding-left: 0px;
    padding-right: 2%;
  }

  #everydesign {
    width: 60%;
    padding-top: 5%;
  }

  #left-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group1 {
    padding-top: 0%;
    padding-left: 15%;
  }

  #about-shell-even {
    flex-direction: column-reverse;
  }
    
  #right-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
  }

  #photo-group2 {
    padding-top: 0%;
  }

  #yourstory {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-left: 0%;
    padding-bottom: 0%;
  }

  #photo-group3 {
    padding-top: 0%;
    padding-left: 0%;
    display: block;
    margin: 0 auto;
  }

  #last-paragraph {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #sign {
    width: 25%;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  #talk {
    padding-top: 18%;

  }

  #photo-group4 {
    display: none;
  }

  #pitch h1 {
    margin: 0;
    font-size: 36px;
  }

  #pitch p {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    margin:2%;
  }

  button {
    width: 150px;
    margin-top: 5%;
  }

  #footer-section {
    height: 125px;
  }

  #footer-nav {
    flex: 6;

  }
  
  #footer-links {
    padding-top: 0%;

  }
  #footer-links ul  {
    padding: 0;
  }

  #footer-empty1 {
    flex:0;
  }

  #footer-empty2 {
    flex:0;
  }
  
  #footer-links > ul > li > a {
    font-size: 12px;
  }

  #footer-nav ul {
    padding: 0;
  }



  #copyright {
    padding-left: 0;
    padding-bottom: 5%;
  }

  #copyright p {
    margin: 0;
    padding-bottom: 5px;
  }

.fa {
  font-size: 24px;
}
}

@media (min-width: 751px) and (max-width: 800px){


  #navbar-links {
    padding-left: 20%;
  }

  #footer-empty1 {
    flex: 0;
  }

  #footer-empty2 {
    flex: 0;
  }

}

@media (min-width: 801px) and (max-width: 1040px){

  #nav-section {
    /*background-color: orange;*/
  }

  #navbar-links {
    padding-left: 20%;
}

  #footer-empty1 {
    flex: 0;
  }

  #footer-empty2 {
    flex: 0;
  }

}

@media (min-width: 1041px) and (max-width: 1350px) {

  #navbar-links {
    padding-left: 30%;
  }
}































