

a {
  text-decoration: none;
  color: #FFFFFF;
}



/* -----NAVIGATION SECTION -----*/

#nav-section {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  opacity:0.95;
  position: fixed;
  top: 0;
  width: 100%; 
  height:130px;
  z-index: 99;
}

#logo {
  flex: 1;
}

#logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  margin-left:70px;
}


#navbar-links {
  flex: 3;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 50%;
}

#navbar-links > ul > li > a {
  font-family: raleway;
  color: #333333;
  letter-spacing: .058;
  font-style: regular;
  font-size: 24px;
}

#navbar-links > ul > li > a:hover {
  color: #1F9ACE;
}

#navbar-links ul > li {
  display: inline-block;
  padding-left: 20px;
}




/* ----- END NAVIGATION SECTION -----*/


/* ----------Introduce Myself section ----*/

#introduce-myself {
  /*background-image: url(/Users/stephaniedorr/portfolio/assets/images/portfolio-header2.jpg);*/
  background-image: url(/assets/images/portfolio-header2.jpg);
  height: 475px;
  margin-top: 200px;
}

#intro-text h1 {
  margin:0;
  font-family: raleway;
  font-size: 48px;
  font-weight: 200;
  padding-top: 70px;
  padding-left: 130px;
}

#intro-text p {
  margin:0;
  font-family: raleway;
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 130px;
  line-height: 31px;
  letter-spacing: 0.59px;
}

#header {
  width:100%;
  height: auto;
  margin-top: 260px;
}


#intro-words {
  margin-top: -200px;
  margin-bottom: 200px;
}

#intro-words h1 {
  margin: 0;
  font-family: raleway;
  font-weight: 300;
  font-size: 48px;
  margin-left: 120px;
  letter-spacing: 0.78px;
}

#intro-words h2 {
  font-family: raleway;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-left: 120px;
  letter-spacing: 0.58px;
}


/* -----PET PORT HERO SECTION -----*/

#petport {
  background: radial-gradient(569.38px at 50% 13.33%, #8FE0F5 0%, #56BDE8 100%);
}
#pet-port-hero {
  display: flex;
  height: 700px;
  width: 80%;
  /*background: radial-gradient(569.38px at 50% 13.33%, #8FE0F5 0%, #56BDE8 100%);*/
  /*margin-bottom: 65px;*/
  /*margin-top: 130px;*/

} 

/* left side of main parent container */
#pet-port-hero-image-column {
  flex: 1;
  margin: 0;
  justify-content: flex-end;
  padding: 0 0 0 0;
}

#pet-port-hero-image-column  img {
  height: 500px;  
  padding-top:100px;
  padding-right: 0px;
  float: right;
  padding-right: 40px;
}

/* right side of main parent container */
/* also parent container for hero headline and button */
#pet-port-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  /*padding: 0 100px 0 0%;*/
}

/* first child of the second column */
#pet-port-headline {
  flex: 1;
}

#pet-port-hero h2 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  padding-top: 175px;
}

#petport-logo {
  width: 250px;
  height: 70px;
  padding-top: 150px;
}

.textcontainer {
  text-align: center;
}

.textcontainer p {
  display: inline-block;
  text-align: left;
}

.textcontainer ul {
  display: inline-block;
  text-align: left;
} 

/*#pet-port-description h1 {
  font-family: raleway;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.78px;
  
}*/

#pet-port-description p {
  font-family: raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

button:hover  {
  opacity: 0.5; 
}

/* second child of the second column */
#pet-port-description {
  flex: 1;
  text-align: center;
}

/* third child of the second column */
#pet-port-button {
  flex: 1;
  margin: 0;
  padding-top: 10px;
}

#pet-port-second button {
  width: 170px;
  height: 44.11px;
  border-radius: 10px;
  border: none;
  font-family: cabin;
  font-size: 14px;
  font-weight:400;
  color: #FFFFFF;
  background-color: #EC1C2E;
  text-transform: uppercase;
}


#why-me {
  display: flex;
  flex-direction: column;
  height: 250px; 
  margin: 0px;
  padding-bottom: 15px;
}

#why-me-headline {
  flex: 1;
  margin: 0px;
}

#why-me-description {
  flex: 1;
  margin: 0px;
}

#why-me-headline h1 {
  font-family: raleway;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.58px;
  margin: 0px;
  padding-top: 65px;
  text-align: center;
}

#why-me h2 {
  font-family: raleway;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.58px;
  text-align: center;
}

/*---------------Toolbox section ---------------*/
#toolbox {
  display: flex;
  height: 600px;
  margin-bottom: 45px;
  font-family: raleway;
  font-size: 24px;
  font-weight: 300;
  /*letter-spacing: 0.58*/
}

#toolbox-image {
  display: block;
  margin: 0 auto 0 auto;
  height: 545px;
  padding-top: 40px;


}

/*#toolbox img {
  height: 600px;
  padding-top: 40px;

}*/

li {
  list-style: none;
  margin: 0;
  padding: 5px;
}

#toolboxempty1 {
  flex: .25;
}

#skills {
  flex: 1;
  text-align: center;
  /*padding-top: 50px;*/
  /*padding-right: 50px;*/
  border-right: 1px solid #7D8080;
}

#tools {
  flex: 1;
  text-align: center;
  /*padding-top: 50px;*/
  /*padding-right: 50px;*/
}

#toolboxempty2 {
  flex: .25;
}

#lightbulb {
  height: 79px;
  width: 50px;
  /*padding-left: 50px;*/
}

#wrenches {
  height: 79px;
  width: 60px;
  /*padding-left: 50px;*/
}

/*----------------Footer section -------------------*/

#footer-section {
  display: flex;
  background-color: #4d4d4d;
  height: 200px;
}
#footer-empty1 {
  flex:1;
}
#footer-nav {
  flex:1;
  display: flex;
  flex-direction: column;
}
#footer-empty2 {
  flex: 1;
}

#footer-links {
  flex: 1;
  padding-top: 10px;
  text-align: center;
}

#footer-icons {
  flex: 1;
  margin: 0;
  text-align: center;
}

#copyright {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}

#copyright p {
  font-family: cabin;
  color: #AEB3B3;
  font-size: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer-links > ul > li > a {
  font-family: raleway;
  color: #FFFFFF;
  letter-spacing: .058;
  font-style: regular;
  font-size: 15px;
  text-align: center;
}

#footer-links > ul > li > a:hover {
  color: #333333;
}

#footer-nav ul > li {
  display: inline-block;
  padding-left: 10px;
 
}

#footer-icons>ul {
  margin: 0;
}

#footer-icons ul>li {
  display: inline-block;
}

.fa {
  color:#FFFFFF;
  font-size: 36px;
  padding-left: 2px;
  padding-right: 2px;
}

.fa:hover {
  color: #333333;
}


/* ----- MEDIA QUERIES -----*/

@media only screen and (min-width: 1221px){
  #navbar-links {
    padding-left: 40%;
  }
}

@media only screen and (max-width: 1221px) and (min-width: 281px) {
  #navbar-links {
    padding-left: 30%;
  }
}


