body {
  font-family: raleway;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}



/* -----------Navigation Bar -------------*/
#nav-section {
  display: flex;
  overflow: hidden;
  background-color: #f2f5f5;
  opacity:0.90;
  position: fixed;
  top: 0;
  width: 100%; 
  height:130px;
}

#logo {
  flex: 1;
}

#logo img {
  width: 65px;
  height: 65px;
  margin-top: 30px;
  margin-left:70px;
}

#empty {
  flex: .5;
}

#navbar-links {
  flex: 1;
  list-style-type: none;
  padding-top: 40px;
}

#navbar-links > ul > li > a {
  font-family: raleway;
  color: #333333;
  letter-spacing: .058;
  font-style: regular;
  font-size: 20px;
}

#navbar-links ul > li {
  display: inline-block;
  padding-left: 20px;

}

/* --------------Pet Port Hero ----------------*/

/* -----------Pet Port Hero Section  (using flexbox)----------*/
/* NEED HELP WITH THE SPACING HERE */


/* Pet Port main parent container */
#pet-port-hero {
  display: flex;
  height: 550px;
  background: radial-gradient(569.38px at 50% 13.33%, #8FE0F5 0%, #56BDE8 100%);
  margin: 135px 0 65px 0;
} 

/* left side of main parent container */
#pet-port-hero-image-column {
  flex: 1;
  margin: 0;
  justify-content: flex-end;
  padding: 0 10% 0 0;
}

#pet-port-hero-image-column  img {
  height: 500px;  
  padding-top: 25px;
  padding-right: 10px;
  float: right;
  padding-right: 50px;
}

/* right side of main parent container */
/* also parent container for hero headline and button */
#pet-port-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: .5% 0 0 0%;
}

/* first child of the second column */
#pet-port-headline {
  flex: 1;
}

#pet-port-hero h2 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  padding-top: 99px;
}

#pet-port-description h1 {
  font-family: raleway;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.78px;
  
}

#pet-port-description p {
  font-family: raleway;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

}

/* second child of the second column */
#pet-port-description {
  flex: 1;
  text-align: center;
}

/* third child of the second column */
#pet-port-button {
  flex: 1;
  margin: 0;
  padding-top: 10px;
}

#hero-empty1 {
  flex: .5;
}

#hero-empty2 {
  flex:.5;
}

#pet-port-second button {
  width: 170px;
  height: 44.11px;
  border-radius: 10px;
  border: none;
  font-family: cabin;
  font-size: 14px;
  font-weight:400;
  color: #FFFFFF;
  background-color: #EC1C2E;
}



.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }































